.mvCard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__name {
    text-align: center;
  }

  &__image {
    height: 200px;
    width: 330px;
    object-fit: fill;
  }
}
