.comicDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        text-align: center;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }
    }

    &__data {
        display: flex;
        width: 80%;
        gap: 20px;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }

        &__image {
            height: 300px;
            object-fit: cover;

            @media screen and (max-width: 900px) {
                height: 150px;
            }

            @media screen and (max-width: 600px) {
                height: 300px;
                object-fit: contain;
            }
        }

        &__description {
            letter-spacing: 2px;

            @media screen and (max-width: 600px) {
                text-align: center;
            }
        }
    }
}