.MvMain {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(232deg, rgba(2, 0, 36, 1) 0%, rgba(137, 0, 255, 1) 100%);
}
