// Sections
@import '../views/HomeView/sections/HomeViewOptionSection/HomeViewOptionSectionStyle'; // HmeView option section.
@import '../views/CharacterView/sections/CharacterViewCharactersSection/_CharacterViewCharactersSectionStyle.scss'; // CharacterView characters section.
@import '../views/CharacterDetailsView/sections/CharacterDetailViewCharacterSection/_CharacterDetailViewCharacterSectionStyle.scss'; // Character detail section.
@import '../views/ComicView/sections/_ComicViewComicsSectionStyle.scss'; // ComicView comics section.
@import '../views/ComicDetailsView/sections/_ComicDetailsViewDetailSectionStyle.scss'; // ComicDetailsView details section

// Layouts
@import '../layout/MvHeader/MvHeaderStyle'; // Navbar layout.
@import '../layout/MvMain/_MvMainStyle.scss'; // Main layout.
@import '../layout/MvLink/_MvLinkStyle.scss'; // Link layout.
@import '../layout/MvSection/_MvSectionStyle.scss'; // Section layout.
@import '../layout/MvFooter/_MvFooterStyle.scss'; // Footer layout.
@import '../layout/MvCard/_MvCardStyle.scss'; // card layout.
@import '../layout/MvPagination/_MvPaginationStyle.scss'; // Pagination layout.
@import '../layout/MvLoading/_MvLoadingStyle.scss'; // Loading layout

.noDisplay-600 {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
