.characterDetail {
    height: 100%;
    width: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    &__description {
        display: flex;
        gap: 20px;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        &__image {
            height: 200px;
            object-fit: fill;

            @media screen and (max-width: 900px) {
                object-fit: contain;
            }
        }

        &__data {
            
        }
    }

    &__table {

        &__thead {
            background-color: #000;
        }

        &__thbody {
            text-align: center;

            &__tr {
                height: 5vh;

                &__td {
                    border-bottom: 2px solid #252525;
                }
            }
        }
    }

}