.charactersSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    gap: 10px;

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(1, 1fr 1fr);
    }
    
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}